# User
git_ignore/
*.iml
*.ipr
*.iws

# IDE
.idea/
.vscode/

# JavaScript
node_modules/

# Gradle
build/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
